@charset 'UTF-8';
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background-size: cover;
  background-attachment: fixed;
}

main {
  height: 100vh;
  position: relative;
  /* background-image: linear-gradient(45deg, #652bb2, #faa81b); */
  background-image: url(/pacote-d013/imagens/plants.png);
  background-repeat: no-repeat;
  background-size: cover;
}

section#iphone {
  /* largura e altura do frame iphone(propriedade da imagem usando o gimp) */
  height: 627px;
  width: 311px;
  background-image: url(/pacote-d013/imagens/frame-iphone.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  /* metade: esquerda --> cima */
  transform: translate(-50%, -50%);
}

iframe#tela {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 269px;
  height: 478px;
  border-radius: 3px;
}

section#redes {
  text-align: right;
  padding: 10px;
}
section#redes img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 4px;
  box-shadow: 2px 2px 5px #0000008a;
  box-sizing: border-box;
}

section#redes img:hover {
  box-shadow: 1px 1px 7px rgb(52, 0, 238);
  transform: translate(-2px, -2px);
  border: 2px solid white;
  transition: transform 0.3s, border 0.5s;
}
